div.card {
  background-color: aliceblue;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  border-radius: 8px;
  width: 10rem;
  height: 15rem;
}

div.separator {
  width: 75%;
}

div.gameHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  color: white;
  height: 25%;
}

div.game {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 50%;
}

div.gameFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 25%;
}

div.wheelHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  color: black;
  height: 25%;
}

div.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 50%;
}

div.wheelFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 25%;
}

div.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  color: black;
  height: 15%;
}

div.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 70%;
}

div.homeFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 15%;
}

button.homeButton {
  margin-bottom: 2rem;
  width: 150px;
  height: 50px;
  color: white;
  background-color: blue;
  border-radius: 1rem;
}

div.aboutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  color: black;
  height: 15%;
}

div.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 70%;
}


div.aboutFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  height: 15%;
}


