div.card {
  background-color: aliceblue;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  text-align: center;
  border-radius: 8px;
  width: 10rem;
  height: 15rem;
}